@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-button {
  @apply bg-d-gray-300 text-d-gray-100 w-12 h-12 grid place-items-center cursor-pointer rounded-full hover:rounded-2xl;
}
